.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 2rem 1rem;
  margin-bottom: 2rem;

  width: 31%;
  min-height: 250px;

  border-radius: 1rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  color: #fafafabe;

  cursor: pointer;
}

.card:hover {
  background-color: #d3cde22c;
}

.name {
  text-transform: uppercase;

  font-weight: bolder;
  margin-bottom: 1rem;
}
