.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  margin: 50px 0;
  width: 85%;
  border-radius: 1rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  color: #fafafabe;
}

.picture {
  border: 3px solid #fafafabe;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.profileUrl {
  margin-top: 60px;
}

.date {
  margin-bottom: 30px;
}

.followers,
.following {
  display: inline;
  margin-right: 1rem;
}

.location {
  margin-top: 40px;
  font-size: 0.8rem;
}
